__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
check/
log/
vnv/

data/libri*
data/shortviolin
data/violin
data/trumpet2
data/*/*.npy
data/*/*.pdf
data/*/sine-*
data/*/sample-*

src/configs/experiment/demo-*
src/configs/experiment/discretize-convergence.yaml
src/configs/experiment/friction-coefficient.yaml
src/configs/experiment/variation-*
src/configs/experiment/analyze-convnext*.yaml
src/configs/experiment/synth-ddsp-*.yaml
src/configs/experiment/test-*.yaml
src/configs/model/mlp.yaml
src/configs/model/wavenet.yaml
src/configs/model/convnext.yaml
src/configs/model/ddsp.yaml
src/configs/model/gru.yaml
src/configs/model/transformer.yaml
src/configs/model/unet.yaml
src/configs/framework/pinn.yaml
src/configs/framework/diffusion.yaml
src/configs/task/analyze.yaml

src/model/cpp/build
src/model/analytic.py
src/model/nn/analyzer.py
src/model/nn/convnext*.py
src/model/nn/gru.py
src/model/nn/mlp.py
src/model/nn/mpd.py
src/model/nn/transformer.py
src/model/nn/unet.py
src/model/nn/wavenet*.py

src/task/summarize.py
src/task/adv.py
src/task/analyze.py
src/utils/diffusion.py
src/utils/pde.py
src/dataset/analyze.py

cmd

.*.swp
.*.py.swp
*/.*.py.swp
*/*/.*.py.swp
.*.cpp.swp
*/.*.cpp.swp
*/*/.*.cpp.swp


