__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
check/
data/
log/
vnv/

src/
src/model/cpp/build
src/task/evaluate.py
src/task/summarize.py

cmd

.*.swp
.*.py.swp
*/.*.py.swp
*/*/.*.py.swp
.*.cpp.swp
*/.*.cpp.swp
*/*/.*.cpp.swp

